

.navbar{
    background-color:white;
}
.navbar{
    background-color:white;
}

.btn-inicio{
    background-color: #beaee2;
    border-radius: 4em;
    padding: 8px 25px;
}

.btn-inicio:hover{
    background-color: #746596;
    color: white;
    border-radius: 4em;
    padding: 8px 25px;
}

.btn-registro{
    background-color: white;
    color: #beaee2;
    border-color: #beaee2;
    border-radius: 4em;
    padding: 8px 25px;
}

.btn-registro:hover{
    background-color: #E6DFF7;
    color: white;
    border-color: #beaee2;
    border-radius: 4em;
    padding: 8px 25px;
}

.titulo-logo{
    color: #beaee2;
}
.titulo-logo:hover{
    color: #8676aa;
}

.nav-link{
    color: #beaee2;
    font-size: 18px;
     
}

.nav-link:hover{
    color: #8676aa;
    font-size: 18px;
    text-decoration: underline; 
}

.header_change{
    position: fixed;
    box-shadow: 5px -1px 12px -5px grey;
    width: 100%;
    transition: 1s;
    z-index: 1;
}


