<section id="carga" class="mb-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 com-md-4 mx-auto">
        <div class="card">
          <div class="card">
            <div class="card-body text-center">
              <h2 class="h3 mb-3 font-weight-normal">Ingresá dinero</h2>

              <div class="form-group">
                  <a href="" class="">
                    <img
                    src="../../../assets/pagofacil.png"
                    alt="Pago Facil"
                    class="pagofacil"
                  />
                  </a>
              </div>

              <div class="form-group">
                  <a href="" class="">
                    <img src="../../../assets/rapipago.png" alt="Rapipago" />
                  </a>
                
              </div>

              <div class="form-group">
                  <a href="" class="">
                    <img src="../../../assets/logo-telerecarga.jpg" alt="Telerecarga" class="tele">
                  </a>
              </div>

              <div class="form-group">
                  <a href="" class="">
                    <img src="../../../assets/cobroexpress.png" alt="Cobro Express" class="pagos">
                  </a>
                  
              </div>

              <div class="form-group"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
