.image{
  width: 100%;
  height: 100px;
  padding: 10px 30px 10px 30px;
}


a {
  border-radius: 11px;
  box-shadow: 0 6px #cccccc;
  /* padding: 20px 45px; */
  color: #ffffff;
  display: inline-block;
  font: normal bold 26px/1 "Open Sans", sans-serif;
  text-align: center;
  cursor: pointer;
  margin: 20px;
}

a:hover{
  box-shadow:  #fff;
  background-color: rgb(228, 245, 155);
}

.boton{
  margin: 10px;
}

.monto{
  margin: 50px 0 50px 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}