<header>

    <section class="textos-header">
        <h1>PIL MONEY</h1>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M-0.84,50.81 C119.35,82.39 334.36,-23.19 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: rgb(255, 255, 255);"></path>
        </svg></div>
</header>
<main>
    <section class="about-services">
        <div class="contenedor">
            <h2 class="titulo">Las <strong>claves</strong> de nuestro servicio:</h2>
            <div class="servicio-cont">
                <div class="servicio-ind">
                    <img src="../../../assets/transparencia.png" alt="imagen-transparencia">
                    <h3><strong>Transparecia</strong></h3>
                    <p>Total control de tus ingresos y egresos, sin letra chica y sin condiciones.</p>
                </div>
                <div class="servicio-ind">
                    <img src="../../../assets/rapidez.png" alt="imagen-rapidez">
                    <h3><strong>Rapidez</strong></h3>
                    <p>Todas las tranferencias e ingresos de dinero se acreditan de inmediato, asi como los pagos que realices.</p>
                </div>
                <div class="servicio-ind">
                    <img src="../../../assets/seguridad.png" alt="imagen-seguridad">
                    <h3><strong>Seguridad</strong></h3>
                    <p>Altos estándares de seguridad informática.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="contenedor sobre-nosotros">
        <h2 class="titulo">¿Cómo usarlo?</h2>
        <div class="contenedor-sobre-nosotros">
            <img src="../../../assets/pasoapaso.png" alt="imagen-paso-a-paso" class="imagen-about-us">
            <div class="contenido-textos">
                <h3><span>1</span>Paso 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit integer phasellus proin, ante commodo feugiat quisque eros lectus hac tempor nisl enim, sem blandit magna auctor parturient cubilia tincidunt potenti faucibus. Mattis felis blandit scelerisque mollis class et sem commodo fermentum ac</p>
                <h3><span>2</span>Paso 2</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit integer phasellus proin, ante commodo feugiat quisque eros lectus hac tempor nisl enim, sem blandit magna auctor parturient cubilia tincidunt potenti faucibus.    <h3><span>3</span>Paso 3</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit integer phasellus proin, ante commodo feugiat quisque eros lectus hac tempor nisl enim, sem blandit magna auctor parturient cubilia tincidunt potenti faucibus. Mattis felis blandit scelerisque mollis class et sem commodo fermentum ac</p>
            </div>
        </div>
    </section>
</main>



  <div class="container">
    <div class="row px-2">
      <div class="col-sm-12 col-12 col-lg-6 col-md-6 pt-5">
        <h1 class="display-3">PIL Money</h1>
        <p class="subtitle">La seguridad y confianza que necesitabas en un solo lugar.</p>
      </div>
      <div class="col-sm-12 col-12 col-lg-6 col-md-6 pt-5 text-center">
        <img src="../../../assets/billetera-virtual.png" alt="logo oficial" width="55%">
      </div>
    </div>
  </div>

