<main>
  <div class="container-xl d-flex justify-content-center">
    <div class="px-4 pt-5 my-5 col-md-6">
      <h1>PIL Money</h1>
      <div id="contenedor">

      </div>

      <div class="container-xl d-flex justify-content-center">
        <div class="px-4 pt-5 my-5 nueva">
          <div class="elemento"><p>La seguridad y confianza que se necesitabas en un solo lugar.</p></div>
        <img src="../../../assets/PIL.png" alt="logo oficial" class="elemento">


        </div>
      </div>

    </div>
  </div>
</main>
