.btn-ingresar{
    background-color: #4174f4;
    border-color: #4174f4;
    border-radius: 4em;
}
.btn-ingresar:hover{
    background-color: #041c8a;
    border-radius: 4em;
}

.btn-pass{
    color: #041c8a;
    outline-style: none;
}

.btn-pass:hover{
    color: #4174f4;
    outline-style: none;
}

h1{
    color: #4174f4;
}