<div class="container p-3">
  <form [formGroup]="form" (ngSubmit)="onEnviar($event, usuario)" novalidate>
      <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" formControlName="mail" placeholder="Enter email" id="email" [class.border-danger]="mailInvalid" [(ngModel)]="usuario.UserName">

      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" formControlName="password"  placeholder="Enter password" id="pwd" [class.border-danger]="passInvalid" [(ngModel)]="usuario.Password">
      </div>


      <button type="submit" class="btn btn-primary">Enviar</button>
  </form>
</div>
