<div class="container-xl">
    <div class="row justify-content-md-center">
      <div class="col-md-4">
        <form [formGroup]="form" (ngSubmit)="onEnviar($event, usuario)" novalidate>
          <h1 class="h5 mb-3 fw-normal text-center mt-4">INGRESA A TU CUENTA</h1>
            <div class="form-floating">
              <input type="email" class="form-control" formControlName="mail" id="email" placeholder="name@example.com" [class.border-danger]="mailInvalid" [(ngModel)]="usuario.UserName"/>
              <label for="floatingInput">Email</label>

            </div>
            <div class="form-floating mt-3">
              <input type="password" class="form-control" formControlName="password" id="floatingPassword" placeholder="Contraseña" [(ngModel)]="usuario.Password" />
              <label for="floatingPassword">Contraseña</label>
            </div>

            <div class="checkbox mb-3 mt-1">
              <label>
                <input type="checkbox" value="remember-me" /> Recordarme
              </label>
            </div>
            <button class="btn-ingresar w-100 btn btn-lg btn-primary" type="submit"  >
              Ingresar
            </button>
          <div class="text-center">
            <a routerLink="/forget-pass" class="btn-pass btn btn-link ">¿Has olvidado tu contraseña?</a>
          </div>
        </form>
      </div>
    </div>
  </div>



